{% extends 'base.html' %}
{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
  <div class="w-50 bg-white rounded shadow-lg">
    <div class="mt-4 mb-3">
      <h2 class="text-center fw-bolder">Авторизоваться</>
    </div>
    <div class="">
    {% if error %}
      <div class="">
        <div class="form-label bg-warning" style="margin: 10pt 0px;">
          {{ error }}
        </div>
      </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="mx-5 my-3">
        <label class="mb-2">Логин:</label>
        <input name='username' type="text" class="form-control form-control-lg">
      </div>
      <div class="mx-5 my-3">
          <label class="mb-2">Пароль:</label>
          <input name='password' type="password" class="form-control form-control-lg">
      </div>
      <div class="text-center my-3  ">
        <button type="submit" class="py-2 fw-bolder w-50 btn btn-success ">Принять</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}