{% extends 'base.html' %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block body %}

<div class="col" style="margin: 50px;">
  <div class="display-2">
    <span class="badge bg-primary">Сейчас вы находитесь на сайте под ником {{ user }}.</span>
  </div>
</div>
{% for resume in resumes %}
    <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
      <div class="row g-0">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              {{ resume.is_answered }}
            </h5>
              <p class="card-text">
                {{ resume.commentary }}
              </p>
              <span>Номер телефона: {{  resume.number_phone }}</span>
              <p class="card-text"><small class="text-muted">Размещено: {{ resume.create_at }}</small></p>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

{% endblock %}