{% extends 'base.html' %}
{% load static %}

{% block title %}
Отправить резюме
{% endblock %}

{% block body %}
  <div class="container">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2 text-center">
        <span class="badge bg-primary" >Резюме</span>
      </div>
    </div>
  </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div align="center">
        {% for field in form %}
        <div class="row mb-3">
          <div class="col">
            <label class="col-sm-4 col-form-label offset-center">{{ field.label }}</label>
            <div class="col-sm-4 offset-center">
              {{ field }}
              {% if field.errors %}
              {% for error in field.errors %}
              <div class="form-label bg-warning" style="margin: 10px 0px;">{{ error }}</div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row mb-3 text-center">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}